@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  font-family: Roboto;
}

.header-image {
  width: 100%;
}

.main-title {
  margin: 80px 0px;
  text-align: center;

  font-size: 72px;
}

.description {
  font-size: 19px;
  margin: 0px 40px 64px 40px;
}

.card {
  margin: 0px 32px 32px 0px;
  border-radius: 8px;
  width: calc(25% - 32px);
  box-shadow: 0 4px 15px 0px rgb(0 0 0 / 10%);
  text-align: center;
  transition: 0.4s;
}

.card:hover {
  box-shadow: 0 3px 20px #0000006b;
}

.card-image {
  margin: 22px 0px;
}

.card-name {
  margin: 0px;
  padding: 16px;
  border-top: 1px solid #dfdfdf;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  border-right: 1px solid #dfdfdf;
  margin-right: 60px;
  padding-right: 60px;
}

.container {
  margin: 0px 40px 40px;
  display: flex;
  align-items: flex-start;
}

.item-image {
  margin-right: 16px;
  width: 50px;
}

.item {
  margin-bottom: 16px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.sidebar-title {
  margin: 0px;
  margin-bottom: 24px;
  vertical-align: top;
  font-size: 19px;
}

.header video {
  /* height: 100vh; */
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  /* background-image: url(./preview.gif); */
}

.footer {
  background-image: url(images/background_footer.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
